@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500&family=Poppins:wght@500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

a{
    text-decoration: none !important;
}

p{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

img{
    width: 100%;
    height: auto;
    padding: 1rem 0 1rem 0;
}

.head-b{
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: rgb(82, 99, 235);
}

::selection {
    background-color: #eedd44;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}

.border{
    border-radius: 8px;
    box-sizing: border-box;
          background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 4px, transparent 4px) 0% 0%/4px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, transparent 10%, #48abe0 100%);
}

.navbar{
    background-color: #f7f7f7;
    border-radius: 46px;
    padding:  15px 10px 15px 10px !important;
}

.navbar .navbar-area>ul>li{
    margin-left: 2px;
    margin-right: 2px;
}

.navbar .navbar-area>ul>li>a{
    letter-spacing: 0.8px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-link {
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;  
  }

  .nav-item a{
    color: #000 !important;
  }

.navbar-light .navbar-toggler{
border: none !important;
}

.nav-link:hover {
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.10);
  color: white !important;
  box-shadow: 0 0 1rem rgba(182, 141, 141, 0.05);
  transition: all 0.3s ease-in-out;
}

.hero{
    background-image: url(./assets/img/hero.jpg);
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 2rem;
    width: 100%;
}

.hero .intro{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

.hero .intro-text{
    font-family: 'Fraunces', serif;
    display: block;
    letter-spacing: -3;
    font-size: 64px;
    line-height: 74px;
}

.hero .intro-subtitle{
    display: block;
    margin-top: 18px;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.6px;
}

.intro-avatar{
    margin-top: 28px;
    width: 160px;
    height: 160px;
}

.arrow{
    margin-right: 250px;
    margin-top: -28px;
    position: absolute;
    height: 56px;
    width: 56px;
    border-radius: 50px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    padding: 0;
}

.t0{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 1.5rem;
    line-height: 2.4rem;
}

.t1{
    z-index: 999;
    position: relative;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 1rem;
}

.t2{
    font-family: 'Fraunces', serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;
}

.project{
    padding-top: 3rem;
    padding-bottom: 2rem; 
    text-align: start;
    background: #F7F7F7;
}

.project-card{
    display: flex;
    padding: 2rem;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 3rem 0 3rem 0;
    justify-content: space-between;
}

.project .project-img{
    display: flex;
    cursor: pointer;
    align-items: center;
    flex: 2;
}

.project-img img{
    display: flex;
    width: 90%;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;  
}
  
  .project-card:hover{
    cursor: pointer;
    transform: scale(1.020);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.10);
}

.project .project-title{
    flex: 1;
    padding-top: 2rem;
    display: block;
}


.project-title ul {
  list-style-type: none;
  padding-left: 0 !important;
}

.project-title li{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding: 5px 0 5px 0;
}

.project-title li:before {
  top: 0;
  left: 0;
  padding-right: 12px;
  content: "✔️";
}

.project-btn{
    text-decoration: underline !important;
    font-weight: bold;
    color: #000;
}

.social-icon>a{
    color: #cf23cf;
    margin-right: 2.2rem;
}



/* ///// skills-start /////////// */

.skills{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 4px, transparent 4px) 0% 0%/4px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, transparent 10%, #48abe0 100%);
    }

.skills-main{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.skills-img{
    width: 50%;
    height: auto;
}

.skills-title{
    padding-top: 15px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 700;
}

/* ///// skills-end /////////// */



/* ///// footer-start /////////// */

.footer-main{
    display: flex;
}

.footer-end p{
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.footer-end span{margin: 5px;
    color: #e25555;
    font-size: 24px;
}



/* //////////project///////// */

.sidenav {
  position: fixed;
  top: 30%;
  z-index: 1;
  overflow-x: hidden;
}

.sidenav ul{
    padding: 10px 10px 10px 25px;
    margin-bottom: 0;
}

.sidenav ul>li{
    padding: 2px 2px 2px 0;
}

.sidenav ul>li:hover {
  cursor:pointer;
}

.pt-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    background-attachment: scroll;
}

.pro1{
    background-color: #f4f4f4;
}

.pro1-st{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.pro3-img{
    margin: 2rem 0 2rem 0;
    width: 30%;
    height: auto;
}

.pro4 ol>li{
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
}

.demo{
    display: flex;
 }   

/* //////////project///////// */

/* ///////  About-img //////// */

.about{
    background: #F7F7F7;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: flex;
    margin-top: 5rem;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.about-right h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.about-right p{
    font-size: 16px;
    line-height: 26px;
}

.about-img img{
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin-bottom: 24px;
}

.resume>h1{
    font-family: 'Poppins',sans-serif;
    line-height: 56px;
    font-weight: 600 ;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

 .title{
    padding-top: 4rem;
    padding-bottom: 0px ;
    font-size: 28px;
}

.navbar{
    border-radius: 5px;
    padding:  10px 10px 10px 10px !important;
}

.hero .intro{
     justify-content: center;
     align-items: start;
     height: 60vh;
     position: 50% 50%;
}
    
.hero .intro-text{
    justify-content: start;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.hero .intro-subtitle{
    text-align: start;
}

.arrow{
    position: relative;
    margin-bottom: -25px;
    margin-left: 255px;
    height: 52px;
    width: 52px;
}

.project{
    padding-top: 3rem;
}

.project h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.project-card{
    display: grid;
    padding: 1rem;
    margin: 1.2rem 0 1.2rem 0;
}

.project .project-img{
    cursor: pointer;
    padding: 5px;
    align-items: center;
}

.project .project-img img{
    display: flex;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;  
}

.project-title {
    padding-left: 8px;
}

.project-title .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 36px;
}

.footer-main{
    display: block;
}

.footer-left h2{
    padding-bottom: 16px;
}

.about{
    display: flex;
    margin-top: 2rem;
    padding: 12px;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.about-img{
    display: flex;
    justify-content: center;
}

.about-img img{
    width: 50%;
    height: 50%;
}

.about-right h3{
    text-align: center;
}

.about-edu-pg h5{
    font-size: 18px;
    font-weight: 600;
}

.resume>h1{
    line-height: 44px;
    font-weight: 600 ;
}

 }

/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */