*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
}

hr{
    background: #e6e6e6;
}

::selection {
    background-color: #eedd44;
}

.navbar .navbar-nav{
    background-color: #F7F7F7;
    border-radius: 50px;
    padding:  10px 10px 10px 10px;
}

.navbar .navbar-area>ul>li{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .navbar-area>ul>li>a{
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-link {
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;  
  }

.nav-link:hover {
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.10);
  color: white !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
}

.intro-img{
    height: auto;
    width: 100%;
}

.intro-name{
    font-weight: 700;
    align-items: baseline;
}

.intro-subtitle{
    letter-spacing: 0.8px;
}

.Typewriter{
    padding-bottom: 5px;
    font-size: 2.6rem;
    margin-left: 5px;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.project{
    text-align: start;
    background: #F7F7F7;
    padding-top: 80px; 
    padding-bottom: 100px;
}

.project h1{
    position: relative;
    font-size: 38px;
    font-weight: 700;
}

.project .project-img{
    cursor: pointer;
    padding: 15px;
    align-items: center;
    display: flex;
}

.project .project-img img{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    transition: all 0.2s ease-in-out;  
}
  
  .project .project-img img:hover{
    cursor: pointer;
    transform: scale(1.020);
    transition: all 0.2s ease-in;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.subtitle-1{
    margin-top: 14px;
    margin-bottom: 14px;
}

.social-icon>a{
    color: #cf23cf;
    margin-right: 2.2rem;
}

.footer-end p{
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.footer-end span{margin: 5px;
    color: #e25555;
    font-size: 24px;
}


/* ///////  About-img //////// */

.about{
    margin-top: 5rem;
}

.about-img img{
    border-radius: 5px;
    width: 500px;
    height: 550px;
}

.Hobbbies{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
}

.resume{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.resume>h1{
    font-weight: 700 ;
}