@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

a{
    text-decoration: none !important;
}

hr{
    background: #e6e6e6;
}


::selection {
    background-color: #eedd44;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}


.navbar{
    background-color: #f8f9fa;
    border-radius: 46px;
    padding:  15px 10px 15px 10px !important;
}

.navbar-brand{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar .navbar-area>ul>li{
    margin-left: 2px;
    margin-right: 2px;
}

.navbar .navbar-area>ul>li>a{
    letter-spacing: 0.8px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-link {
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;  
  }

  .nav-item a{
    color: #000 !important;
  }

.navbar-light .navbar-toggler{
border: none !important;
}

.nav-link:hover {
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.10);
  color: white !important;
  box-shadow: 0 0 1rem rgba(182, 141, 141, 0.05);
  transition: all 0.3s ease-in-out;
}


.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

.intro-text{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 48px;
    line-height: 60px;
}

.intro-subtitle{
    display: block;
    margin-top: 18px;
    color: #000;
    font-size: 20px;
    letter-spacing: 0.6px;
}

.intro-avatar{
    margin-top: 28px;
    width: 160px;
    height: 160px;
}

.arrow{
    margin-right: 250px;
    margin-top: -35px;
    position: absolute;
    height: 68px;
    width: 68px;
    border-radius: 50px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.project{
    text-align: start;
    background: #F7F7F7;
    padding-top: 80px; 
    padding-bottom: 100px;
}

.project-card{
    display: flex;
}

.label{
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
}

.title{
    z-index: 999;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.project .project-img{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.project .project-img img{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;  
}
  
  .project .project-img img:hover{
    cursor: pointer;
    transform: scale(1.020);
    transition: all 0.2s ease-in;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.10);
}

.project-btn{
    color: #fff;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #4b6cb7 0%, #4a5d85  50%, #4b6cb7  100%);
    transition: 0.4s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
}

.project-btn:hover{
    background-position: right center;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

         

.subtitle-1{
    margin-top: 14px;
    margin-bottom: 14px;
}

.social-icon>a{
    color: #cf23cf;
    margin-right: 2.2rem;
}

/* ///// skills-start /////////// */

.skills{
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
            linear-gradient(90deg, transparent 10%, #48abe0 100%);
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    }

.skills-main{
    margin-top: 45px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 170px;
}

.skills-img{
    width: 80px;
    height: 80px;
}

.skills-title{
    padding-top: 15px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
}

/* ///// skills-end /////////// */



/* ///// footer-start /////////// */

.footer-main{
    display: flex;
}

.footer-end p{
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.footer-end span{margin: 5px;
    color: #e25555;
    font-size: 24px;
}


/* ///////  About-img //////// */

.about{
    background: #F7F7F7;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: flex;
    margin-top: 5rem;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.about-right h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.about-right p{
    font-size: 16px;
    line-height: 26px;
}

.about-img img{
    border-radius: 19px;
    width: 90%;
    height: 90%;
    margin-bottom: 24px;
}

.resume>h1{
    font-family: 'Poppins',sans-serif;
    line-height: 56px;
    font-weight: 600 ;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .title{
    font-size: 32px;
}

.navbar{
    border-radius: 5px;
    padding:  10px 10px 10px 10px !important;
}

    .intro{
     justify-content: center;
     align-items: center;
     height: 70vh;
}
    
.intro-text{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
}

.intro-avatar{
    height: 150px;
    width: 150px;
}

.intro-subtitle{
    text-align: center;
}

.arrow{
    position: relative;
    margin-bottom: -25px;
    margin-left: 255px;
    height: 52px;
    width: 52px;
}

.project h1{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.project-card{
    display: grid;
}

.project .project-img{
    cursor: pointer;
    padding: 5px;
    align-items: center;
}

.project .project-img img{
    display: flex;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;  
}

.project-title {
    padding-left: 8px;
}

.project-title .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 36px;
}

.footer-main{
    display: block;
}

.footer-left h2{
    padding-bottom: 16px;
}

.about{
    display: flex;
    margin-top: 2rem;
    padding: 12px;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.about-img{
    display: flex;
    justify-content: center;
}

.about-img img{
    width: 50%;
    height: 50%;
}

.about-right h2{
    text-align: center;
}

.about-edu-pg h5{
    font-size: 18px;
    font-weight: 600;
}

.resume>h1{
    line-height: 44px;
    font-weight: 600 ;
}

 }

/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */